<h1>Admin >> Dashboard</h1>

<a href="admin/products"><button class= 'btn btn-primary'>View all items</button></a>
<h2>Number of products: <%=product_count%></h2> 
<h2>Number of categories: <%=category_count%></h2>
